.thumbnail {
  width: 100%;
  flex: 1 1 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 0;
  height: 10rem;
  border: solid white 0.1rem;
  border-radius: 0.8rem;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.thumbnail * {
  margin: 0px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: auto;
}
